.form {
  height: 90px;
  padding: 20px 40px;
  background-color: $lightwhite;
  form {
    display: flex;
    justify-content: space-between;
    .input-box {
      position: relative;
      &__text {
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: $lightgrey;
        border-style: none;
        }
        &__image {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          &__file {
            display: none;
          }
        }
      }
    
      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: $marinblue;
        color: $white;
        cursor: pointer;
    }
  }
}